In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df= pd.read_csv('Iris (3).csv')

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [9]:
np.unique(df['Species'])

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
df.mean()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\972437606.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [15]:
mean= df.groupby("Species")["SepalWidthCm","SepalLengthCm"].mean()
print(mean)

                 SepalWidthCm  SepalLengthCm
Species
Iris-setosa             3.418          5.006
Iris-versicolor         2.770          5.936
Iris-virginica          2.974          6.588

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\2046536160.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean= df.groupby("Species")["SepalWidthCm","SepalLengthCm"].mean()

In [16]:
df.median()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [17]:
median = df.groupby("Species")["SepalWidthCm","SepalLengthCm"].median()
print(median)

                 SepalWidthCm  SepalLengthCm
Species
Iris-setosa               3.4            5.0
Iris-versicolor           2.8            5.9
Iris-virginica            3.0            6.5

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\2826936537.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  median = df.groupby("Species")["SepalWidthCm","SepalLengthCm"].median()

In [18]:
df.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [19]:
min = df.groupby("Species")["PetalLengthCm","SepalWidthCm","SepalLengthCm"].min()
print(min)

                 PetalLengthCm  SepalWidthCm  SepalLengthCm
Species
Iris-setosa                1.0           2.3            4.3
Iris-versicolor            3.0           2.0            4.9
Iris-virginica             4.5           2.2            4.9

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\3357935372.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  min = df.groupby("Species")["PetalLengthCm","SepalWidthCm","SepalLengthCm"].min()

In [20]:
df.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [21]:
max = df.groupby("Species")["PetalLengthCm","SepalWidthCm","SepalLengthCm"].max()
print(max)

                 PetalLengthCm  SepalWidthCm  SepalLengthCm
Species
Iris-setosa                1.9           4.4            5.8
Iris-versicolor            5.1           3.4            7.0
Iris-virginica             6.9           3.8            7.9

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\1347280966.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  max = df.groupby("Species")["PetalLengthCm","SepalWidthCm","SepalLengthCm"].max()

In [22]:
df.mode()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.0,3.0,1.5,0.2,Iris-setosa
1,2,NaN,NaN,NaN,NaN,Iris-versicolor
2,3,NaN,NaN,NaN,NaN,Iris-virginica
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,NaN,NaN
146,147,NaN,NaN,NaN,NaN,NaN
147,148,NaN,NaN,NaN,NaN,NaN
148,149,NaN,NaN,NaN,NaN,NaN
149,150,NaN,NaN,NaN,NaN,NaN

In [30]:

# MODE
# Calculated only for categorical data
df.Species.mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
Name: Species, dtype: object

In [31]:
df.groupby(['Species']).count()

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa      50             50            50             50            50
Iris-versicolor  50             50            50             50            50
Iris-virginica   50             50            50             50            50

In [24]:
df.std()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_47356\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [25]:
sd = st.stdev(df["SepalWidthCm"])
print(sd)

0.43359431136217363

In [29]:
Q1 = df['SepalWidthCm'].quantile(0.25)
Q3 = df['SepalWidthCm'].quantile(0.75)
print("25 percentile:", Q1)
print("75 percentile", Q3)

25 percentile: 2.8
75 percentile 3.3

In [33]:
np.percentile(df['SepalWidthCm'],50)

3.0